<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ASS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>847B2A661E9014A9007DE6CC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>847B2A7A1E9014AA007DE6CC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>847B2A851E9014AA007DE6CC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
